header{
    background: rgb(80, 73, 184);
    padding: 20px ;
}

#banner{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.principal{
    background-color: rgb(80, 73, 184);
    padding: 30px;
    font-size: 20px;
}

.titulo-principal{
    background-color: rgb(80, 73, 184);
    padding: 30px;
    text-align: center;
    font-size: 100px;
    position:relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
}

#missao{
    font-size: 25px;
}

em strong{
    color: rgb(255, 0, 0);
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios{
    background: rgb(255,255, 255);
    padding: 20px;
}

.itens{
    font-style: italic;
}

.imagembeneficios{
    width: 60%;
}
